body {
  display: flex;
  /*justify-content: center;*/
}

.take-off {
  font-size: 30pt;
  font-family: Arial;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 300px;
  width: 350px;
  display: none;
  --animate-duration: 2s;
}

.blocks {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  position: relative;
}

.block {
  margin: 10px;
  height: 70px;
  display: flex;
  align-items: flex-end;
}

.block span {
  display: inline-block;
}

.block .rocket i {
  transform: rotate(-90deg);
}

.block .rocket {
  font-size: 40pt;
}

.block .traveler {
  font-size: 14pt;
  display: none;
}

.active-rocket .traveler {
  display: block;
}

.block--red {
  color: red;
  border-left: red 0 solid;
  border-bottom: red 0 solid;
}

.block--blue {
  color: blue;
  border-left: blue 0 solid;
  border-bottom: blue 0 solid;
}

.block--green {
  color: green;
  border-left: green 0 solid;
  border-bottom: green 0 solid;
}

.block--pink {
  color: hotpink;
  border-left: hotpink 0 solid;
  border-bottom: hotpink 0 solid;
}

.block--gray {
  color: black;
  border-left: black 0 solid;
  border-bottom: black 0 solid;
}

.active-rocket {
  border-width: 2px;
}
